@import "vars";

body {
  font-family: @font-roboto;
}

.activeNavbarLink {
  background-color: @color-navbar-active-bg !important;
  color: @color-navbar-active-text;
}

.navbar-default {
  background-color: @color-navbar-background;
  border-color: @color-navbar-border;

  .navbar-brand {
    color: @color-navbar-text;

    &:hover, &:focus {
      color: @color-navbar-active-text;
    }
  }

  .navbar-nav {
    > li {
      > a {
        border-radius: 30px;
        color: @color-navbar-text;

        &:hover, &:focus {
          .activeNavbarLink;
        }
      }
    }

    > .active {
      > a {
        border-radius: 30px;
        .activeNavbarLink;

        &:hover, &:focus {
          .activeNavbarLink
        }
      }
    }

  }
}
