@import './vars';

body {
  font-family: $font-roboto;
}

.navbar-light {
  background-color: $color-navbar-background;
  border-color: $color-navbar-border;

  .navbar-brand {
    color: $color-navbar-text;

    &:hover,
    &:active,
    &:focus {
      color: $color-navbar-active-text;
    }
  }

  a.nav-link {
    border-radius: 2rem;
    color: $color-navbar-text;

    &:hover,
    &:active,
    &:focus {
      @include active-navbar-link;
    }
  }

  a.nav-link.active {
    @include active-navbar-link;
  }
}
