@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-primary-0: #5b51b0; /* Main Primary color */
$color-primary-1: #f1effe;
$color-primary-2: #d6d2f6;
$color-primary-3: #19115b;
$color-primary-4: #0b072e;

$font-roboto: 'Open Sans', sans-serif;

$color-body-bg: $color-primary-1;

$color-navbar-background: transparent;
$color-navbar-border: transparent;

$color-navbar-text: $color-primary-3;
$color-navbar-active-text: $color-primary-4;

$color-navbar-active-bg: $color-primary-2;

@mixin active-navbar-link {
  background-color: $color-navbar-active-bg !important;
  color: $color-navbar-active-text;
}
