<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-4 col-sm-2 text-right">
            <img class="img-responsive" src="/files/Senior_Portrait_small.jpg" alt="A Picture of Me"
                 style="width: 100%; border-radius: 100%">
        </div>
        <div class="col-xs-7 col-sm-8">
            <h1 class="text-center">About Me</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 2em;">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <p>
                Hello, thank you for coming to my website! My name is Jos&eacute; de Jesus Rodriguez Rivas. I am
                currently a student in Computer Science at California State University, Channel Islands. I am also
                minoring in both Game Development and Mathematics. I will graduate in May of 2021.
            </p>
            <p>
                I have experience in several technologies and programming languages including but not limited to:
            </p>
            <ul>
                <li>HTML, CSS, JavaScript, AngularJS, PHP</li>
                <li>MySQL, SQL Server, Spring Boot, JDBC, C#, ASP.NET, Entity Framework</li>
                <li>Android, libGDX, Java, Game Maker Studio 2</li>
                <li>C/C++</li>
            </ul>
            <p>
                I also enjoy teaching, I have experience tutoring K-12 in Mathematics and Computer Science. I have also
                tutored fellow Computer Science Students working at the Channel Islands Computer Science Tutoring Lab.
            </p>
            <p>
                I spend much of my free time learning new technologies, frameworks and languages. I have a wealth of
                side projects, including websites and games. My full list of projects can be found on the homepage of
                this website, and some can be also found on my games website,
                <a href="https://tinycountrygames.com" target="_blank">Tiny Country Games</a>.
            </p>
            <p>
                If you would like to reach out and contact me, feel free to email me at
                <a href="mailto:joserivas823@gmail.com" target="_blank">JoseRivas823@gmail.com</a>
            </p>
        </div>
    </div>
</div>