<div ng-include="'app/views/admin_nav.html'" class="col-xs-12 col-sm-3"></div>
<div class="col-xs-12 col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">{{pageTitle}}</div>
        </div>
        <div class="panel-body">
            <h2>Manage Technologies</h2>
            <div class="row" ng-repeat="tech in technologies">
                <div class="col-xs-10">
                    <form ng-submit="updateTech(tech.id, tech.name)">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="tech.name">
                        </div>
                    </form>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-primary" type="button" ng-click="updateTech(tech.id, tech.name)"><i class="fa fa-save fa-fw"></i></button>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-danger" type="button" ng-click="deleteTech(tech.id)"><i class="fa fa-save fa-fw"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <form ng-submit="addTech()">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="addTechName">
                        </div>
                    </form>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-success" type="button" ng-click="addTech()"><i class="fa fa-plus fa-fw"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
