<div ng-include="'app/views/admin_nav.html'" class="col-xs-12 col-sm-3"></div>
<div class="col-xs-12 col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">{{pageTitle}}</div>
        </div>
        <div class="panel-body">
            <h2>Update</h2>
            <div class="form-group">
                <label>Entry</label>
                <select class="form-control" ng-options="entry as entry.name for entry in portfolioEntries track by entry.id" ng-model="selectedEntry" ng-change="loadEntry()"></select>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form>
                        <div class="form-group">
                            <label>Image Url</label>
                            <input type="text" class="form-control" ng-model="formData.image_url">
                        </div>
                        <div class="form-group">
                            <label>Target Url</label>
                            <input type="text" class="form-control" ng-model="formData.target_url">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="formData.name">
                        </div>
                        <div class="form-group">
                            <label>Year</label>
                            <input type="number" class="form-control" ng-model="formData.year">
                        </div>
                        <div class="form-group">
                            <div class="list-group">
                                <button ng-class="['list-group-item', formData.isOnGoing ? 'active' : '']" ng-click="formData.isOnGoing = !formData.isOnGoing">
                                    <i ng-class="['fa', 'fa-fw', formData.isOnGoing ? 'fa-check-square': 'fa-square-o']"></i>&nbsp;Is On Going?
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" class="form-control" ng-model="formData.description" rows="10"></textarea>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-5">
                            <label>Techs in Entry</label>
                            <div class="list-group">
                                <button
                                        ng-repeat="tech in technologies"
                                        ng-class="['list-group-item', tech.id === techToRemove ? 'active': '']"
                                        ng-if="isTechnologyInEntry(tech.id)"
                                        ng-click="selectTechToRemove(tech.id)">
                                    {{tech.name}}
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="btn-group-vertical" role="group">
                                <button class="btn btn-primary" ng-click="removeTech()"><i class="fa fa-caret-right fa-fw"></i></button>
                                <button class="btn btn-primary" ng-click="addTech()"><i class="fa fa-caret-left fa-fw"></i></button>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <label>Available Techs</label>
                            <div class="list-group">
                                <button
                                        ng-repeat="tech in technologies"
                                        ng-class="['list-group-item', tech.id === techToAdd ? 'active': '']"
                                        ng-if="!isTechnologyInEntry(tech.id)"
                                        ng-click="selectTechToAdd(tech.id)">
                                    {{tech.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <a ng-href="{{formData.target_url}}" target="_blank"><img ng-src="{{formData.image_url}}" class="img-responsive"></a>
                    <h3>{{formData.name}}&nbsp;<small>{{formData.year}}<span ng-if="formData.isOnGoing"> - Present</span></small></h3>
                    <div ng-bind-html="formData.description" class="text-justify"></div>
                    <p class="text-center">
                        <span ng-repeat="tech in technologies" class="label label-info label-tech" ng-if="isTechnologyInEntry(tech.id)">{{tech.name}}</span>
                    </p>
                </div>
            </div>
            {{formOut}}
        </div>
    </div>
</div>
