<div ng-include="'app/views/admin_nav.html'" class="col-xs-12 col-sm-3"></div>
<div class="col-xs-12 col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">{{pageTitle}}</div>
        </div>
        <div class="panel-body">
            <h2>Login</h2>
            <form ng-submit="submitForm()">
                <div class="form-group">
                    <label>Username&nbsp;<span class="text-danger" ng-if="formErrors.username.length > 0"><i class="fa fa-exclamation-circle fa-fw"></i>&nbsp;{{formErrors.username}}</span></label>
                    <input type="text" class="form-control" ng-model="formData.username">
                </div>
                <div class="form-group">
                    <label>Password&nbsp;<span class="text-danger" ng-if="formErrors.password.length > 0"><i class="fa fa-exclamation-circle fa-fw"></i>&nbsp;{{formErrors.password}}</span></label>
                    <input type="password" class="form-control" ng-model="formData.password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
            {{formOut}}
        </div>
    </div>
</div>