<div class="col-xs-12">
    <div class="row text-center">
        <h2>Portfolio</h2>
    </div>
    <div class="row text-center" ng-show="loading">
        <div class="col-xs-12">
            <h2><i class="fa fa-spinner fa-spin"></i>&nbsp;Loading</h2>
        </div>
    </div>
    <div class="row" ng-hide="loading" ng-repeat="entryRow in entries">
        <div class="col-xs-12 col-md-6" ng-repeat="entry in entryRow">
            <div class="thumbnail thumbnail-entry">
                <a ng-href="{{entry.target_url}}" target="_blank"><img ng-src="{{entry.image_url}}" alt="{{entry.name}}"></a>
                <div class="caption">
                    <h3>{{entry.name}}&nbsp;<small>{{entry.year + (entry.isOnGoing == 1 ? ' - Present' : '')}}</small></h3>
                    <div ng-bind-html="entry.description" class="text-justify"></div>
                    <p class="text-center">
                        <span ng-repeat="tech in entry.technologies" class="label label-info label-tech">{{tech.name}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
